body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.grocery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.grocery-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 40px 60px;
    box-shadow: 0 4px 6px rgba(0,0,0,.08);
}

.grocery-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 600;
}

.grocery-content {
    display: flex;
    flex-direction: row;
}

.left-panel {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-wrapper {
    position: relative;
    width: 250px;
    border: 2px solid#418ede;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
}

.input-label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 12px;
    color: #7fa3f0;
    transition: 0.2s;
    opacity: 0.7;
}

.input-wrapper input {
    width: 100%;
    border: none;
    outline: none;
    margin-top: 14px;
    font-size: 14px;
    background: transparent;
    color: #000;           
}


.clear-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #666;
}

.clear-btn:hover {
    color: #000;
}

.recipe-list {
    background-color: #f7f2ff;
    border-radius: 8px;
    width: 250px;
    padding: 10px;
}

.recipe-item {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.recipe-item:hover {
    background-color: #d0e2f5
}

.recipe-item.selected {
    background-color: #7fa3f0;
    font-weight: bold;
}

.ingredients-panel {
    background-color: #dbdbdb;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    min-height: 250px;
}

.ingredients-panel h2 {
    margin-bottom: 10px;
}

